.bordered {
    border-radius: 0.25rem;
    outline: 1px solid #dee2e6;
}

.collapse {
    width: 400px;
    padding: 1rem;
}
.collapse-control {
    width: 100%;
    margin-bottom: 1rem;
}
.collapse-button {
    width: 100px;
    padding: 10px 20px;
    font-weight: 600;
    color: #ffffff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    border-radius: 0.25rem;
    cursor: pointer;
}


.collapse-body {
    width: 100%;
    max-height: 0;
    padding: 0 1rem;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out, padding 0.3s ease-out;
}

.collapse-body.collapse-body-expanded {
    max-height: 400px;
    padding: 1rem;
    opacity: 1;
}